.done {
    text-decoration: line-through;
}

.text-update {
    background-color: rgb(231, 224, 223);
}
.js-input{
    position: relative;
}


#to-do {
    position: relative;
}

.btn-update {
    font-size: 20px;
    opacity: .6;
    position: absolute;
    right: 112px;
}